# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Eclipse files
.cproject
.project

# Executables
*.exe
*.out
*.app
/bin/influenza

# Dump and temporary files
*dump*
*~

# Input/output data and logs
output/*
logs/*

# Keep the md files
!*.md
!*/
